
/* GUI Assignment: Creating an Interactive Dynamic Table
Description: Create a table completely dynamically based on parameters entered 
in an HTML form. Create a form that accepts the starting and ending numbers for 
both the horizontal (multiplier) and vertical (multiplicand) axes of a multiplication 
table. Then use the numbers entered into the form to create a multiplication table 
completely dynamically

Peicai Chen, Peicai_Chen@student.uml.edu

10/26/2021  */


#group1{
    border: 2px solid rgba(0, 38, 255, 0.89);
    width: fit-content;
    border-radius: 8px;
}
th, td, tr:not(:last-child) {
        border: 2px solid black;
};
